



body{

    background-color: white;

}

.top{

    display: flex;

}

.logo{
    position: relative;

    left: 70px;

}




.links {

    position: absolute;
    top: 80px;
    left: 390px;

    display: flex;


}

.link{

    text-decoration: none;
    font-family: "Trebuchet MS";
    color: black;

    width: 50px;

    box-shadow: 0px 10px 26px 3px rgba(114, 110, 191, 0.17);


    padding-left: 20px;
    padding-right: 20px;

    margin-right: 30px;
    margin-left: 30px;
    background-color:lightsteelblue;
}

.link:hover{
    background-color: black;
    color: lightsteelblue;
}



.appointment{

    z-index: 3;
    border: 4px black solid;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    right:75px;
    top:30px;

    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;

}
.appointment:hover{

    background-color: lightsteelblue;
}

.blink{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-family: "Trebuchet MS";
    margin: 10px;
    padding-top: 20px;
}













.bott{


    text-align: center;


    position: fixed;
    width: 100%;
    bottom: 0;
    margin-left: 0px;
    margin-right: 100px;
    border-radius: 4px
}

.blink:hover{

    color: lightsteelblue;
}

.header{
    text-align: center;
    text-decoration: underline;
    
}







::placeholder{
    font-family: "Trebuchet MS";
}

.form-top {

    position: relative;
    top: 120px;
    display: block;
    text-align: center;




}

input[type=text], select{
    width: 31%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;

    margin-top: 6px;
    margin-bottom: 16px;
}
textarea{
    border: 1px solid #ccc;

    width: 71%;

}

input[type=submit] {
    background-color: darkgrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.container {


    background-color: lightsteelblue;
    

    position: relative;
    top: 30px;
    display: block;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

.form{

    background-color: lightsteelblue;

}


.submit:hover{
    background-color: black;
}


.row{
    
    margin: auto;
    width: auto;
    text-align: center;
    position: relative;
}

#address{
    
    width: 640px;
}


.row3{
    display: flex;
    margin: auto;
    position: relative;
    left: 160px;
}

.radio{
    margin-left: 5px;
    top: 25px;
    position: relative;
    font-size: 17px;
    font-family: "Trebuchet MS";
}

textarea{
    margin-left: 160px;
    margin-right: 800px;
    height: 150px;
    width: 660px;
    
}