

body{

    background-color: white;

}

.top{

    display: flex;

}

.logo{
    position: relative;

    left: 70px;

}

.ont{
    box-shadow: 0px 10px 26px 3px rgba(114, 110, 191, 0.8);
}
.links {

    position: absolute;
    top: 80px;
    left: 390px;

    display: flex;


}

.link{

    text-decoration: none;
    font-family: "Trebuchet MS";
    color: black;

    width: 50px;

    box-shadow: 0px 10px 26px 3px rgba(114, 110, 191, 0.17);


    padding-left: 20px;
    padding-right: 20px;

    margin-right: 30px;
    margin-left: 30px;
    background-color:lightsteelblue;
}

.link:hover{
    background-color: black;
    color: lightsteelblue;
}

.blink:hover{

    color: lightsteelblue;
}

.appointment{

    z-index: 3;
    border: 4px black solid;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    right:75px;
    top:30px;

    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;

}
.appointment:hover{

    background-color: lightsteelblue;
}

.blink{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-family: "Trebuchet MS";
    margin: 10px;
    padding-top: 20px;
    position: relative;
}


.bott{


    text-align: center;


    position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 0px;
    margin-right: 100px;
    border-radius: 4px
}


.wrapper{
    text-align: center;
    width: 80%;
    left: 174px;
    position: absolute;
}

.row{
    
    display: flex;
    position: relative;
    margin: auto;
}

.person{
    display: flex;
    margin: 20px;
}

.preview {

    text-align: left;
    width: 50%;
    background-color: lightsteelblue;
}

